.btn {
    border: 2px solid transparent;
    &:active {
        &:focus {
            outline: none;
        }
    }
}

.button-focus {
    border: 2px solid $focus-color;
    outline: none;
    box-shadow: none;
}

.btn-default {
    width: 60%;
    padding: 2px 10px;
}

@include bp-medium {
    .btn-default {
        width: 100%;
    }
}

.cta1,
.cta2 {
    background-color: $cta-background-color;
    color: $cta-color;
    [class^="icon-"],
    [class*=" icon-"] {
        line-height: 1.2;
    }
    border-radius: 0;
    text-align: left;
    &:focus {
        @extend .button-focus;
        background-color: $cta-background-hover-color;
        color: $cta-color;
    }
    &:hover,
    &:active {
        background-color: $cta-background-hover-color;
        color: $cta-color;
        border: 2px solid transparent;
    }
    &:active {
        &:hover {
            background-color: $cta-background-hover-color;
            color: $cta-color;
            border: 2px solid transparent;
            outline: none;
        }
    }
    &.disabled,
    &[disabled],
    &[disabled]:hover {
        background-color: $cta-disabled-background-color;
        color: $cta-disabled-color;
        border: 2px solid transparent;
    }
    &.alternative {
        background-color: $cta-disabled-background-color;
    }
}

.cta1 {
    font-size: 17px;
}

@include bp-medium {
    .cta1 {
        font-size: 16px;
    }
}

@include bp-large {
    .cta1 {
        font-size: 25px;
    }
}

.cta2 {
    font-size: 17px;
}

@include bp-medium {
    .cta2 {
        font-size: 15px;
    }
}

@include bp-large {
    .cta2 {
        font-size: 21px;
    }
}

.cta3 {
    font-size: 17px;
    padding: 0;
    color: $color-dark-blue;
    line-height: 1;
    &:focus,
    &:hover:focus,
    &:active:focus {
        outline: none;
        text-decoration: none;
        border-bottom: 2px solid $focus-color;
    }
    &:hover {
        outline: none;
        text-decoration: none;
        border-bottom: 2px solid $color-dark-blue;
    }
    &:disabled {
        border: none;
        &:focus,
        &:hover,
        &:hover:focus,
        &:active:focus {
            border: none;
            color: $color-dark-blue;
        }
    }
}

@include bp-medium {
    .cta3 {
        font-size: 15px;
    }
}

@include bp-large {
    .cta3 {
        font-size: 21px;
    }
}

.in-progress {
    display: block;
    height: 1.3em;
    width: 1.3em;
    color: red;
    background: url(../images/loading.svg) right center no-repeat;
}
