$color-dark-blue: #0A2973;
$color-mid-blue: #0A4B8C;
$color-mid-blue-2: #B8CADC;
$color-light-blue-1: #D4E1F0;
$color-light-blue-2: #E0E9F3;
$color-light-blue-3: #EEF3F9;
$color-light-blue-4: #F6F9FC;
$color-light-grey-1: #474747;
$color-light-grey-2: #595959;
$color-light-grey-3: #B2B2B2;
$color-light-grey-4: #EFEFEF;
$color-white: #fff;
$color-gray: #888;
$color-green: #45ae72;
$color-alert: #df3034;
$color-red: $color-alert;
$color-warning: #F0AD4E;
$color-primary: #00587A;
$color-secondary: #2C82C9;
$color-primary-dark: darken($color-primary, 10%);
$color-blue: $color-primary;
$color-blue-alt: darken(#2C82C9, 10%);
$color-focus: #ffbf47;
$color-light-bg: desaturate(lighten($color-secondary, 40%), 30%);
$color-lighter-bg: lighten($color-light-bg, 8%);
$fa-font-path: "fonts";
$path-assets: 'assets/';
