.footer {
    height: 145px;
    width: 100%;
    background-color: $footer-background-color;
    ul {
        padding-top: 0px;
        li {
            border-right: none;
            padding: 25px 0px 0px 0px;
            &:last-child {
                border-right: none;
            }
        }
    }
    .fcs {
        background: url(../images/FSCSlogo.png) right top no-repeat;
        width: 87px;
        float: right;
        background-size: 87px 87px;
        height: 87px;
    }
    .row {
        margin-bottom: 0;
    }
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 190px;
}

@include bp-medium {
    body {
        /* Margin bottom by footer height */
        margin-bottom: 125px;
    }
    .footer {
        height: 90px;
        ul {
            padding-top: 11px;
            li {
                padding: 0px 10px 0px 5px;
                display: inline-block;
                padding-right: 10px;
                border-right: 1px solid $footer-link-color;
                &:last-of-type {
                    border-right: none;
                }
            }
        }
        .fcs {
            background-size: 65px 65px;
            height: 65px;
            width: 65px;
        }
    }
}

@include bp-large {
    body {
        /* Margin bottom by footer height */
        margin-bottom: 167px;
    }
    .footer {
        height: 119px;
        ul {
            padding-top: 18px;
            li {
                padding: 0px 10px 0px 5px;
                display: inline-block;
                padding-right: 10px;
                border-right: 1px solid $footer-link-color;
                &:last-child {
                    border-right: none;
                }
            }
        }
        .fcs {
            background-size: 94px 94px;
            height: 94px;
            width:94px;
        }
    }
}

.footer-text {
    color: $footer-text-color;
    font-size: 12px;
    margin-bottom: 14px;
}

@include bp-medium {
    .footer-text {
        font-size: 12px;
        margin-bottom: 14px;
    }
}

@include bp-large {
    .footer {
        .footer-text {
            font-size: 14px;
            margin-bottom: 16px;
        }
    }
}

.copy-rights {
    width: 100%;
    height: 55px;
    padding-top: 25px;
    background-color: $copy-rights-background-color;
}

@include bp-medium {
    .copy-rights {
        padding-top: 10px;
        height: 35px;
    }
}

@include bp-large {
    .copy-rights {
        padding-top: 24px;
        height: 48px;
    }
}