label {
    font-weight: normal;
    margin-bottom: 5px; //line-height: 1.2;
}

.form-control {
    border-radius: 0px !important;
    border-top: 1px solid $color-light-grey-2;
    border-left: 1px solid $color-light-grey-2;
    border-right: 1px solid $color-light-grey-4;
    border-bottom: 1px solid $color-light-grey-4;
    height: 40px;
    box-shadow: none;
    &:focus {
        @extend .button-focus;
        border-color: $focus-color;
    }
}

select::-ms-expand {
    display: none;
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    padding: 2px 2px 2px 12px;
    background-repeat: no-repeat;
    background-position: 99% 30%;
    background-image: url("../images/arrowdown-01.svg");
}

legend {
    border: none;
    margin-bottom: 0px;
}

.active {
    background-color: $color-light-grey-4;
}

.edit {
    padding-top: 10px;
}

.warning-form-group {
    background-color: $color-orange-2;
    .warning {
        position: absolute;
        top: 0px;
        right: 10px;
    }
}

.form-group {
    input,
    select {
        font-size: 22px;
    }
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px; //padding: 10px 0;
    .icon-information-01 {
        font-size: 30px;
        color: $color-mid-blue;
    }
    .icon-attention-01 {
        font-size: 30px;
    }
    .w1,
    .w2 {
        margin-bottom: 10px;
    }
}

@include bp-small {
    .form-group {
        .btn.cta2 {
            float: right;
        }
    }
}

input[type="file"]:focus+label {
    border: 2px solid $focus-color;
    outline: none;
    box-shadow: none;
    background-color: $cta-background-focus-color;
}