.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.large {
    font-size: 48px;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}
