[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'VTB-Icons' !important;
    speak: none;
    font-style: normal;
    //font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrowback-01:before {
    content: "\e900";
}

.icon-arrowdot-01:before {
    content: "\e901";
}

.icon-arrowdown-01:before {
    content: "\e902";
}

.icon-arrowforward-01:before {
    content: "\e903";
}

.icon-arrowup-01:before {
    content: "\e904";
}

.icon-attention-01:before {
    content: "\e905";
}

.icon-circlecross-01:before {
    content: "\e906";
}

.icon-circleoutline-01:before {
    content: "\e907";
}

.icon-circletick-01:before {
    content: "\e908";
}

.icon-cross-01:before {
    content: "\e909";
}

.icon-crossdot-01:before {
    content: "\e90a";
}

.icon-edit-01:before {
    content: "\e90b";
}

.icon-information-01:before {
    content: "\e90c";
}

.icon-onfocusoutline:before {
    content: "\e90d";
}

.icon-padlock-01:before {
    content: "\e90e";
}

.icon-print-01:before {
    content: "\e90f";
}

.icon-processing-01:before {
    content: "\e910";
}

.icon-tick-01:before {
    content: "\e911";
}
