@import "fonts";
@import "color";
@import "mixins";
@import "container";
@import "helper";
@import "gutter";
@import "type";
@import "header";
@import "footer";
@import "icons";
@import "forms";
@import "button";
@import "radio";
@import "progress";
@import "lists";
@import "borders";
// Attempt to fix font jaggyness on windows
* {
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    background-color: #f5f5f5;
}
